@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    width: 100%;
}
.logo-container{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.7;
}
.logo{
    height: 10rem;
}
.odin-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100vh;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.name{
    color: white;
    font-size: 50px;
    padding-top: 60px;
    font-family: 'Kenia', sans-serif;
}
